* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

body {
    background: #e0e5ec;
    padding: 0;
    margin: 0;
}

.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.top {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pp .material-symbols-outlined {
    color: #e4ebf5;
    background: #e0e5ec;
    width: 170%;
    height: 170%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: blue;
    
    box-shadow: 12px 12px 24px #cbced1, -12px -12px 24px #ffffff;
}

.ps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    color: black;
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 12px 12px 24px #cbced1, -12px -12px 24px #ffffff;
}
.ps .material-symbols-outlined {
    color: blue;
    background: #e0e5ec;
}

.text1 h1{
    font-size: 30px;
}

.text1 p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(240, 89, 34);
    gap: 3%;
    font-size: 14px;
}

.text1 p span {
    justify-content: left;
    width: 10px;
    height: 10px;
    background: orangered;
    border-radius: 20px;
    animation: blink 1s infinite;
}



@keyframes blink {
    0%, 100% { opacity: 1; }
    50%      { opacity: 0; }
}
 
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 30px;
}

.plof {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    width: 130px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid #cbced1;
    color: black;
    background: #e0e5ec;
    box-shadow: 12px 12px 24px #cbced1, -12px -12px 24px #ffffff;

}
.val {
    font-weight: bold;
    font-size: 15px;
}